<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <titre> {{ article.titre }}</titre>
    </head>

    <!-- BODY ---------------------------------->

    <body>
    <article>
        <header>

        <H1>{{ article.titre }}</H1>
        <br />
        <p> 
        <span>Publie le {{ article.date|date('d/m/Y') }}</span>
        <span>Publie par {{ article.auteur }}</span>
        </p>
     
        </header>

        <p>
        {{ article.contenu }}
        </p>
         <p>
        {{ article.token }}
        </p>

    </article>
    
    <br /><br />
        
    <!-- SCRIPT  ----------------------------------------- -->
    </body>

</html>
